<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_caishendaobg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,357},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>
            <key>u_caishendaobg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,333},{600,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,90}}</string>
                <key>sourceSize</key>
                <string>{600,90}</string>
            </dict>
            <key>u_caishendaobg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,407},{109,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,30}}</string>
                <key>sourceSize</key>
                <string>{109,30}</string>
            </dict>
            <key>u_caishendaobg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{672,323}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{672,323}}</string>
                <key>sourceSize</key>
                <string>{672,327}</string>
            </dict>
            <key>u_caishendaobutten01.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,259},{220,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,92}}</string>
                <key>sourceSize</key>
                <string>{220,92}</string>
            </dict>
            <key>u_caishendaobutten02.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,161},{220,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,92}}</string>
                <key>sourceSize</key>
                <string>{220,92}</string>
            </dict>
            <key>u_caishendaoheading01.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,4},{315,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,151}}</string>
                <key>sourceSize</key>
                <string>{315,151}</string>
            </dict>
            <key>u_caishendaowz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,161},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,26}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>u_caishendaowz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,333},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>u_icoqy03.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,357},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>csd.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76a10a95f6b2b4c210630a8f769d89a5$</string>
            <key>textureFileName</key>
            <string>csd.png</string>
        </dict>
    </dict>
</plist>
