<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d-chuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1784},{180,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,213}}</string>
                <key>sourceSize</key>
                <string>{180,213}</string>
            </dict>
            <key>d_bake.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1385},{150,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,129}}</string>
                <key>sourceSize</key>
                <string>{150,129}</string>
            </dict>
            <key>d_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{308,1151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,1151}}</string>
                <key>sourceSize</key>
                <string>{308,1151}</string>
            </dict>
            <key>d_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1520},{264,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,397}}</string>
                <key>sourceSize</key>
                <string>{264,397}</string>
            </dict>
            <key>d_bj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1727},{211,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,287}}</string>
                <key>sourceSize</key>
                <string>{211,287}</string>
            </dict>
            <key>d_chuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1217},{250,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,140}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>d_hai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,4},{738,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,314}}</string>
                <key>sourceSize</key>
                <string>{738,314}</string>
            </dict>
            <key>d_hai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,324},{738,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,298}}</string>
                <key>sourceSize</key>
                <string>{738,298}</string>
            </dict>
            <key>d_hanzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1385},{108,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,124}}</string>
                <key>sourceSize</key>
                <string>{108,124}</string>
            </dict>
            <key>d_hanzhu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1363},{96,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,119}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>d_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1923},{150,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,88}}</string>
                <key>sourceSize</key>
                <string>{150,88}</string>
            </dict>
            <key>d_limao.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1520},{200,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,167}}</string>
                <key>sourceSize</key>
                <string>{200,167}</string>
            </dict>
            <key>d_lufei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,744},{300,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,360}}</string>
                <key>sourceSize</key>
                <string>{300,360}</string>
            </dict>
            <key>d_lufei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1110},{300,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,294}}</string>
                <key>sourceSize</key>
                <string>{300,294}</string>
            </dict>
            <key>d_qingzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,650},{550,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,449}}</string>
                <key>sourceSize</key>
                <string>{550,449}</string>
            </dict>
            <key>d_qingzhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,670},{400,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,305}}</string>
                <key>sourceSize</key>
                <string>{400,305}</string>
            </dict>
            <key>d_quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1363},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>d_shanzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1157},{250,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,167}}</string>
                <key>sourceSize</key>
                <string>{250,167}</string>
            </dict>
            <key>d_sheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,650},{80,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,67}}</string>
                <key>sourceSize</key>
                <string>{80,67}</string>
            </dict>
            <key>d_sheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1105},{60,46}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{60,46}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>d_shuihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,832},{300,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,324}}</string>
                <key>sourceSize</key>
                <string>{300,324}</string>
            </dict>
            <key>d_suolong.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,981},{396,398}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{396,398}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>d_suolong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1520},{250,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,201}}</string>
                <key>sourceSize</key>
                <string>{250,201}</string>
            </dict>
            <key>f_xrbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,562},{320,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,176}}</string>
                <key>sourceSize</key>
                <string>{320,176}</string>
            </dict>
            <key>f_xrbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,368},{320,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,188}}</string>
                <key>sourceSize</key>
                <string>{320,188}</string>
            </dict>
            <key>f_xrbg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,670},{320,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,156}}</string>
                <key>sourceSize</key>
                <string>{320,156}</string>
            </dict>
            <key>f_xrbg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,628},{692,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,36}}</string>
                <key>sourceSize</key>
                <string>{692,36}</string>
            </dict>
            <key>f_xrjs01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1162},{378,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,352}}</string>
                <key>sourceSize</key>
                <string>{378,352}</string>
            </dict>
            <key>f_xrjs02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,1410},{289,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,368}}</string>
                <key>sourceSize</key>
                <string>{289,368}</string>
            </dict>
            <key>f_xrjs03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,4},{333,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,358}}</string>
                <key>sourceSize</key>
                <string>{333,358}</string>
            </dict>
            <key>f_xrm01.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1923},{150,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,86}}</string>
                <key>sourceSize</key>
                <string>{150,86}</string>
            </dict>
            <key>f_xrm02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1476},{152,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,85}}</string>
                <key>sourceSize</key>
                <string>{152,85}</string>
            </dict>
            <key>f_xrm03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1385},{152,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,85}}</string>
                <key>sourceSize</key>
                <string>{152,85}</string>
            </dict>
            <key>f_xrsx.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1105},{255,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,106}}</string>
                <key>sourceSize</key>
                <string>{255,106}</string>
            </dict>
            <key>u_nvdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1161},{345,882}}</string>
                <key>offset</key>
                <string>{31,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,32},{345,882}}</string>
                <key>sourceSize</key>
                <string>{611,960}</string>
            </dict>
            <key>u_quanquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,4},{640,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>u_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1784},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>first.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0eca367f3d7580d33c4e2945d1034e90$</string>
            <key>textureFileName</key>
            <string>first.png</string>
        </dict>
    </dict>
</plist>
