<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_icoqy05.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,4},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_trzbg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,4},{369,431}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,431}}</string>
                <key>sourceSize</key>
                <string>{369,431}</string>
            </dict>
            <key>u_trzbg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{542,666}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,666}}</string>
                <key>sourceSize</key>
                <string>{542,666}</string>
            </dict>
            <key>u_trzbg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,441},{369,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,145}}</string>
                <key>sourceSize</key>
                <string>{369,145}</string>
            </dict>
            <key>u_trzico.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,592},{109,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,94}}</string>
                <key>sourceSize</key>
                <string>{109,94}</string>
            </dict>
            <key>u_trzwz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,859},{559,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,161}}</string>
                <key>sourceSize</key>
                <string>{559,161}</string>
            </dict>
            <key>u_trzwz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,592},{333,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,72}}</string>
                <key>sourceSize</key>
                <string>{333,72}</string>
            </dict>
            <key>u_trzwz03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,692},{559,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,161}}</string>
                <key>sourceSize</key>
                <string>{559,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hhz.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61896282b9816928f8091104348f2314$</string>
            <key>textureFileName</key>
            <string>hhz.png</string>
        </dict>
    </dict>
</plist>
