<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_LianMengBanner01.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1824},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>u_LianMengNum01.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1963},{54,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{54,74}</string>
            </dict>
            <key>u_LianMengNum02.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,956},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>u_LianMengNum03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1019},{57,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,79}}</string>
                <key>sourceSize</key>
                <string>{57,79}</string>
            </dict>
            <key>u_buttenA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1104},{123,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,62}}</string>
                <key>sourceSize</key>
                <string>{123,62}</string>
            </dict>
            <key>u_canwu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1604},{163,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,44}}</string>
                <key>sourceSize</key>
                <string>{163,44}</string>
            </dict>
            <key>u_canwubg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,4},{321,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,314}}</string>
                <key>sourceSize</key>
                <string>{321,314}</string>
            </dict>
            <key>u_cc01.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1306},{209,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,256}}</string>
                <key>sourceSize</key>
                <string>{209,256}</string>
            </dict>
            <key>u_cc02.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1746},{82,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,72}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>u_frameF.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1255},{229,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,61}}</string>
                <key>sourceSize</key>
                <string>{229,61}</string>
            </dict>
            <key>u_frameF1.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1467},{170,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,131}}</string>
                <key>sourceSize</key>
                <string>{170,131}</string>
            </dict>
            <key>u_frameF2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1330},{170,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,131}}</string>
                <key>sourceSize</key>
                <string>{170,131}</string>
            </dict>
            <key>u_koujue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1963},{69,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>u_koujueEXP.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,595},{47,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,275}}</string>
                <key>sourceSize</key>
                <string>{47,275}</string>
            </dict>
            <key>u_koujueEXPb.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,47},{27,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,542}}</string>
                <key>sourceSize</key>
                <string>{27,542}</string>
            </dict>
            <key>u_koujuebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1493},{160,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,273}}</string>
                <key>sourceSize</key>
                <string>{160,273}</string>
            </dict>
            <key>u_largess.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,689},{307,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,75}}</string>
                <key>sourceSize</key>
                <string>{307,75}</string>
            </dict>
            <key>u_ld01.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1132},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>u_ld02.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,4},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>u_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1687},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,87}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>u_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1746},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>u_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1397},{106,78}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{106,78}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>u_light04.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1279},{114,88}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{114,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>u_light05.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,968},{141,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,110}}</string>
                <key>sourceSize</key>
                <string>{141,110}</string>
            </dict>
            <key>u_light06.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1373},{154,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,114}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>u_ljcontenb.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,810},{606,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,140}}</string>
                <key>sourceSize</key>
                <string>{606,140}</string>
            </dict>
            <key>u_lmbattlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,800}}</string>
                <key>sourceSize</key>
                <string>{640,800}</string>
            </dict>
            <key>u_lw01.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,917},{256,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,209}}</string>
                <key>sourceSize</key>
                <string>{256,209}</string>
            </dict>
            <key>u_newplaybrokenbook.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1084},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>u_pfangb.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1654},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_pgongb.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1654},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_ptib.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,876},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_pyib.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1671},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,84}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_qh00.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1647},{97,126}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{97,126}}</string>
                <key>sourceSize</key>
                <string>{117,146}</string>
            </dict>
            <key>u_qh01.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1172},{116,133}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{116,133}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>u_qh010.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1311},{114,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,80}}</string>
                <key>sourceSize</key>
                <string>{114,80}</string>
            </dict>
            <key>u_qh011.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1481},{103,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,54}}</string>
                <key>sourceSize</key>
                <string>{103,54}</string>
            </dict>
            <key>u_qh02.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1330},{105,112}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{105,112}}</string>
                <key>sourceSize</key>
                <string>{115,126}</string>
            </dict>
            <key>u_qh03.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1448},{103,111}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{103,111}}</string>
                <key>sourceSize</key>
                <string>{113,139}</string>
            </dict>
            <key>u_qh04.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1584},{93,120}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{93,120}}</string>
                <key>sourceSize</key>
                <string>{111,128}</string>
            </dict>
            <key>u_qh05.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1761},{54,102}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,102}}</string>
                <key>sourceSize</key>
                <string>{56,110}</string>
            </dict>
            <key>u_qh06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1322},{203,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,256}}</string>
                <key>sourceSize</key>
                <string>{203,256}</string>
            </dict>
            <key>u_qh07.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1038},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>u_qh08.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1671},{46,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,67}}</string>
                <key>sourceSize</key>
                <string>{46,67}</string>
            </dict>
            <key>u_qh09.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1881},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>u_qhbj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,956},{537,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,57}}</string>
                <key>sourceSize</key>
                <string>{537,57}</string>
            </dict>
            <key>u_qhbj02.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,324},{318,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,56}}</string>
                <key>sourceSize</key>
                <string>{318,56}</string>
            </dict>
            <key>u_qhbj03.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1218},{145,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,55}}</string>
                <key>sourceSize</key>
                <string>{145,55}</string>
            </dict>
            <key>u_qhbj04.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1761},{74,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,55}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>u_qhbj05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1831},{70,23}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{70,23}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>u_qhbj06.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1779},{72,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{72,47}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>u_qhbj07.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1822},{74,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,53}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>u_qhbj08.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1710},{68,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,51}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>u_qhbj09.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1780},{72,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,55}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>u_qhbj10.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1881},{72,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,55}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>u_stonebg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,386},{316,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,297}}</string>
                <key>sourceSize</key>
                <string>{316,297}</string>
            </dict>
            <key>u_stonebg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1584},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>u_topupTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1019},{470,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,230}}</string>
                <key>sourceSize</key>
                <string>{470,230}</string>
            </dict>
            <key>u_topupbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,770},{278,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,141}}</string>
                <key>sourceSize</key>
                <string>{278,141}</string>
            </dict>
            <key>u_viptitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1255},{218,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,45}}</string>
                <key>sourceSize</key>
                <string>{218,45}</string>
            </dict>
            <key>u_xzfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1568},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>u_xzgong.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1568},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>u_xzxue.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1565},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>u_xzyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1541},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51989adb6e3c7891df8008a20142786e$</string>
            <key>textureFileName</key>
            <string>mainScene2.png</string>
        </dict>
    </dict>
</plist>
