<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_cbbg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{738,732}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,732}}</string>
                <key>sourceSize</key>
                <string>{738,732}</string>
            </dict>
            <key>u_cbbg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,4},{127,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,117}}</string>
                <key>sourceSize</key>
                <string>{127,117}</string>
            </dict>
            <key>u_cbbg07.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,4},{127,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,117}}</string>
                <key>sourceSize</key>
                <string>{127,117}</string>
            </dict>
            <key>u_cbbg08.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,127},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>u_icoqy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,127},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cc3b9a8605ea46a03a528d848ec085f$</string>
            <key>textureFileName</key>
            <string>nd.png</string>
        </dict>
    </dict>
</plist>
