<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_BingmSlgdEF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{307,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,306}}</string>
                <key>sourceSize</key>
                <string>{307,306}</string>
            </dict>
            <key>s_BingmSlgdEF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{256,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,230}}</string>
                <key>sourceSize</key>
                <string>{256,230}</string>
            </dict>
            <key>s_BingmSlgdEF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{256,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,230}}</string>
                <key>sourceSize</key>
                <string>{256,230}</string>
            </dict>
            <key>s_BingmSlgdEF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{256,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,230}}</string>
                <key>sourceSize</key>
                <string>{256,230}</string>
            </dict>
            <key>s_BingmSlgdEF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{256,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,230}}</string>
                <key>sourceSize</key>
                <string>{256,230}</string>
            </dict>
            <key>s_BingmSlgdEF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{256,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,230}}</string>
                <key>sourceSize</key>
                <string>{256,230}</string>
            </dict>
            <key>s_BingmSlgdEF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{256,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,230}}</string>
                <key>sourceSize</key>
                <string>{256,230}</string>
            </dict>
            <key>s_BingmSlgdEF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{256,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,230}}</string>
                <key>sourceSize</key>
                <string>{256,230}</string>
            </dict>
            <key>s_BingmSlgdEF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{256,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,230}}</string>
                <key>sourceSize</key>
                <string>{256,230}</string>
            </dict>
            <key>s_BingmSlgdEF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{256,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,230}}</string>
                <key>sourceSize</key>
                <string>{256,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_Bing.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b474e1581d97e186bcc304731e76a7da$</string>
            <key>textureFileName</key>
            <string>s_Bing.png</string>
        </dict>
    </dict>
</plist>
