<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_chuijimSsaEFA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,518},{40,48}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,97},{40,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_chuijimSsaEFA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,518},{144,106}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,71},{144,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_chuijimSsaEFA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,266},{238,230}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{238,230}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_chuijimSsaEFA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,502},{218,252}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{218,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_chuijimSsaEFA05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,264},{238,248}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{238,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_chuijimSsaEFA06.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,4},{244,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{244,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_chuijimSsaEFA07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{248,254}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{248,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_chuijimSsaEFA08.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,264},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_chuiji.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d65e2e17a4d43a700c029b0bb0fbf277$</string>
            <key>textureFileName</key>
            <string>s_chuiji.png</string>
        </dict>
    </dict>
</plist>
