<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_emfjmSlsaEF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,501},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_emfjmSlsaEF02a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,501},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_emfjmSlsaEF02a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,501},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_emfjmSlsaEF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,501},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_emfjmSlsaEF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,4},{227,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,480}}</string>
                <key>sourceSize</key>
                <string>{227,480}</string>
            </dict>
            <key>s_emfjmSlsaEF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{212,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,491}}</string>
                <key>sourceSize</key>
                <string>{212,491}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_emfj.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41205c53e9f8e645dc7b3f2535de85f8$</string>
            <key>textureFileName</key>
            <string>s_emfj.png</string>
        </dict>
    </dict>
</plist>
