<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_hmzmSlsaEF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{157,508}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{157,508}}</string>
                <key>sourceSize</key>
                <string>{163,512}</string>
            </dict>
            <key>s_hmzmSlsaEF02a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_hmzmSlsaEF02a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_hmzmSlsaEF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_hmzmSlsaEF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{157,508}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{157,508}}</string>
                <key>sourceSize</key>
                <string>{163,512}</string>
            </dict>
            <key>s_hmzmSlsaEF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{157,508}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{157,508}}</string>
                <key>sourceSize</key>
                <string>{163,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_hmz.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3dfb9cb066e3450ba6d5c816b2726cf$</string>
            <key>textureFileName</key>
            <string>s_hmz.png</string>
        </dict>
    </dict>
</plist>
