<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_jifengzmSlgcEF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,4},{307,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,306}}</string>
                <key>sourceSize</key>
                <string>{307,306}</string>
            </dict>
            <key>s_jifengzmSlgcEF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{534,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,516}}</string>
                <key>sourceSize</key>
                <string>{534,516}</string>
            </dict>
            <key>s_jifengzmSlgcEF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,526},{113,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,494}}</string>
                <key>sourceSize</key>
                <string>{113,494}</string>
            </dict>
            <key>s_jifengzmSlgcEF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{534,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,516}}</string>
                <key>sourceSize</key>
                <string>{534,516}</string>
            </dict>
            <key>s_jifengzmSlgcEF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,526},{113,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,494}}</string>
                <key>sourceSize</key>
                <string>{113,494}</string>
            </dict>
            <key>s_jifengzmSlgcEF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{534,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,516}}</string>
                <key>sourceSize</key>
                <string>{534,516}</string>
            </dict>
            <key>s_jifengzmSlgcEF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,526},{113,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,494}}</string>
                <key>sourceSize</key>
                <string>{113,494}</string>
            </dict>
            <key>s_jifengzmSlgcEF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_jifengzmSlgcEF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_jifengzmSlgcEF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_jifengz.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71d61b64394755c6225228b0f7af8de0$</string>
            <key>textureFileName</key>
            <string>s_jifengz.png</string>
        </dict>
    </dict>
</plist>
