<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_JiaomSlgcEF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{307,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,306}}</string>
                <key>sourceSize</key>
                <string>{307,306}</string>
            </dict>
            <key>s_JiaomSlgcEF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{212,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,491}}</string>
                <key>sourceSize</key>
                <string>{212,491}</string>
            </dict>
            <key>s_JiaomSlgcEF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,316},{227,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,480}}</string>
                <key>sourceSize</key>
                <string>{227,480}</string>
            </dict>
            <key>s_JiaomSlgcEF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{212,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,491}}</string>
                <key>sourceSize</key>
                <string>{212,491}</string>
            </dict>
            <key>s_JiaomSlgcEF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,316},{227,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,480}}</string>
                <key>sourceSize</key>
                <string>{227,480}</string>
            </dict>
            <key>s_JiaomSlgcEF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{212,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,491}}</string>
                <key>sourceSize</key>
                <string>{212,491}</string>
            </dict>
            <key>s_JiaomSlgcEF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,316},{227,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,480}}</string>
                <key>sourceSize</key>
                <string>{227,480}</string>
            </dict>
            <key>s_JiaomSlgcEF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_JiaomSlgcEF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_JiaomSlgcEF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_Jiao.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:196c7a0d398f0ffb5050ea54650edcd8$</string>
            <key>textureFileName</key>
            <string>s_Jiao.png</string>
        </dict>
    </dict>
</plist>
