<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_ktmSlsaEF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{125,232}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{125,232}}</string>
                <key>sourceSize</key>
                <string>{125,256}</string>
            </dict>
            <key>s_ktmSlsaEF02a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,242},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_ktmSlsaEF02a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,242},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_ktmSlsaEF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,242},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_ktmSlsaEF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{125,232}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{125,232}}</string>
                <key>sourceSize</key>
                <string>{125,256}</string>
            </dict>
            <key>s_ktmSlsaEF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{125,232}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{125,232}}</string>
                <key>sourceSize</key>
                <string>{125,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_kt.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c5119347c5683d23733a5ce27bb0d2c$</string>
            <key>textureFileName</key>
            <string>s_kt.png</string>
        </dict>
    </dict>
</plist>
