<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_LjfmSlgeEF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{307,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,306}}</string>
                <key>sourceSize</key>
                <string>{307,306}</string>
            </dict>
            <key>s_LjfmSlgeEF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,4},{147,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,303}}</string>
                <key>sourceSize</key>
                <string>{147,303}</string>
            </dict>
            <key>s_LjfmSlgeEF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,4},{147,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,303}}</string>
                <key>sourceSize</key>
                <string>{147,303}</string>
            </dict>
            <key>s_LjfmSlgeEF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,4},{147,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,303}}</string>
                <key>sourceSize</key>
                <string>{147,303}</string>
            </dict>
            <key>s_LjfmSlgeEF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,4},{147,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,303}}</string>
                <key>sourceSize</key>
                <string>{147,303}</string>
            </dict>
            <key>s_LjfmSlgeEF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,4},{147,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,303}}</string>
                <key>sourceSize</key>
                <string>{147,303}</string>
            </dict>
            <key>s_LjfmSlgeEF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_LjfmSlgeEF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,4},{147,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,303}}</string>
                <key>sourceSize</key>
                <string>{147,303}</string>
            </dict>
            <key>s_LjfmSlgeEF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,4},{147,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,303}}</string>
                <key>sourceSize</key>
                <string>{147,303}</string>
            </dict>
            <key>s_LjfmSlgeEF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,4},{147,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,303}}</string>
                <key>sourceSize</key>
                <string>{147,303}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_ljf.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5475b3038778159d605f6a6a4ed80df9$</string>
            <key>textureFileName</key>
            <string>s_ljf.png</string>
        </dict>
    </dict>
</plist>
