<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_lsgxmSlsaEF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,263},{169,177}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,24},{169,177}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>s_lsgxmSlsaEF02a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{254,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{254,256}</string>
            </dict>
            <key>s_lsgxmSlsaEF02a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,3},{62,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,256}}</string>
                <key>sourceSize</key>
                <string>{62,256}</string>
            </dict>
            <key>s_lsgxmSlsaEF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,263},{249,243}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{249,243}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>s_lsgxmSlsaEF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,444},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_lsgxmSlsaEF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{254,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{254,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_lsgx.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaad5f20bba9b42abe8e7fa4416a0592$</string>
            <key>textureFileName</key>
            <string>s_lsgx.png</string>
        </dict>
    </dict>
</plist>
