<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_LyjmSsaEFA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,334},{248,58}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,73},{248,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_LyjmSsaEFA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,120},{256,110}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{256,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_LyjmSsaEFA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{256,110}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{256,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_LyjmSsaEFA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,334},{248,58}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,73},{248,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_LyjmSsaEFA05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,334},{248,58}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,73},{248,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_LyjmSsaEFA06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,398},{248,36}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,84},{248,36}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_LyjmSsaEFA07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,236},{256,92}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,57},{256,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_LyjmSsaEFA08.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_lyj.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27e9c5f93e4780ab2f27563922774b8e$</string>
            <key>textureFileName</key>
            <string>s_lyj.png</string>
        </dict>
    </dict>
</plist>
