<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_nlzjmSlsaEF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{176,537}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,537}}</string>
                <key>sourceSize</key>
                <string>{176,537}</string>
            </dict>
            <key>s_nlzjmSlsaEF02a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_nlzjmSlsaEF02a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_nlzjmSlsaEF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_nlzjmSlsaEF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{176,537}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,537}}</string>
                <key>sourceSize</key>
                <string>{176,537}</string>
            </dict>
            <key>s_nlzjmSlsaEF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{176,537}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,537}}</string>
                <key>sourceSize</key>
                <string>{176,537}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_nlzj.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:818e04a247cde8a0a9ff990bcb6cc162$</string>
            <key>textureFileName</key>
            <string>s_nlzj.png</string>
        </dict>
    </dict>
</plist>
