<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_QuanmSlgbEF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{307,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,306}}</string>
                <key>sourceSize</key>
                <string>{307,306}</string>
            </dict>
            <key>s_QuanmSlgbEF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,252},{143,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,242}}</string>
                <key>sourceSize</key>
                <string>{143,242}</string>
            </dict>
            <key>s_QuanmSlgbEF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,4},{143,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,242}}</string>
                <key>sourceSize</key>
                <string>{143,242}</string>
            </dict>
            <key>s_QuanmSlgbEF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,252},{143,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,242}}</string>
                <key>sourceSize</key>
                <string>{143,242}</string>
            </dict>
            <key>s_QuanmSlgbEF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,4},{143,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,242}}</string>
                <key>sourceSize</key>
                <string>{143,242}</string>
            </dict>
            <key>s_QuanmSlgbEF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,252},{143,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,242}}</string>
                <key>sourceSize</key>
                <string>{143,242}</string>
            </dict>
            <key>s_QuanmSlgbEF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,4},{143,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,242}}</string>
                <key>sourceSize</key>
                <string>{143,242}</string>
            </dict>
            <key>s_QuanmSlgbEF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,500},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_QuanmSlgbEF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,500},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_QuanmSlgbEF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,500},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_Quan.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a04ef7103404662e52254a8d3477b49$</string>
            <key>textureFileName</key>
            <string>s_Quan.png</string>
        </dict>
    </dict>
</plist>
