<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_QuanjimSsaEFA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,4},{144,128}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,70},{144,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_QuanjimSsaEFA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,528},{248,246}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{248,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_QuanjimSsaEFA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,528},{248,246}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{248,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_QuanjimSsaEFA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,266},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_QuanjimSsaEFA05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_QuanjimSsaEFA06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_QuanjimSsaEFA07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,528},{250,256}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_QuanjimSsaEFA08.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_Quanji.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5e0059dedbe83f6ed2a08e15974733d$</string>
            <key>textureFileName</key>
            <string>s_Quanji.png</string>
        </dict>
    </dict>
</plist>
