<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_qwzj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{90,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,512}}</string>
                <key>sourceSize</key>
                <string>{90,512}</string>
            </dict>
            <key>s_qwzj03.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,216},{103,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,100}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>s_qwzj04.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,0},{128,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,220}}</string>
                <key>sourceSize</key>
                <string>{128,220}</string>
            </dict>
            <key>s_qwzj05.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,0},{256,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,214}}</string>
                <key>sourceSize</key>
                <string>{256,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_qwzj.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85b02bcbf8a3521940791e75af8e38ad$</string>
            <key>textureFileName</key>
            <string>s_qwzj.png</string>
        </dict>
    </dict>
</plist>
