<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_sdxqmSlsaEF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_sdxqmSlsaEF02a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_sdxqmSlsaEF02a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_sdxqmSlsaEF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_sdxqmSlsaEF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,4},{221,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,251}}</string>
                <key>sourceSize</key>
                <string>{221,251}</string>
            </dict>
            <key>s_sdxqmSlsaEF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{221,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,251}}</string>
                <key>sourceSize</key>
                <string>{221,251}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_sdxq.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3635ca7c4f476e075ef4dade2cc5fa3$</string>
            <key>textureFileName</key>
            <string>s_sdxq.png</string>
        </dict>
    </dict>
</plist>
