<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_shanxinghymSlgeEF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{307,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,306}}</string>
                <key>sourceSize</key>
                <string>{307,306}</string>
            </dict>
            <key>s_shanxinghymSlgeEF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{94,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,161}}</string>
                <key>sourceSize</key>
                <string>{94,161}</string>
            </dict>
            <key>s_shanxinghymSlgeEF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{94,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,161}}</string>
                <key>sourceSize</key>
                <string>{94,161}</string>
            </dict>
            <key>s_shanxinghymSlgeEF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{94,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,161}}</string>
                <key>sourceSize</key>
                <string>{94,161}</string>
            </dict>
            <key>s_shanxinghymSlgeEF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{94,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,161}}</string>
                <key>sourceSize</key>
                <string>{94,161}</string>
            </dict>
            <key>s_shanxinghymSlgeEF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{94,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,161}}</string>
                <key>sourceSize</key>
                <string>{94,161}</string>
            </dict>
            <key>s_shanxinghymSlgeEF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,483},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_shanxinghymSlgeEF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{94,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,161}}</string>
                <key>sourceSize</key>
                <string>{94,161}</string>
            </dict>
            <key>s_shanxinghymSlgeEF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{94,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,161}}</string>
                <key>sourceSize</key>
                <string>{94,161}</string>
            </dict>
            <key>s_shanxinghymSlgeEF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{94,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,161}}</string>
                <key>sourceSize</key>
                <string>{94,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_shanxinghy.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2891cc754c3ce74c97117bad401daac$</string>
            <key>textureFileName</key>
            <string>s_shanxinghy.png</string>
        </dict>
    </dict>
</plist>
