<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_slhyxmSlsaEF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{227,466}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{227,466}}</string>
                <key>sourceSize</key>
                <string>{227,480}</string>
            </dict>
            <key>s_slhyxmSlsaEF02a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_slhyxmSlsaEF02a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_slhyxmSlsaEF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,4},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_slhyxmSlsaEF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{227,466}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{227,466}}</string>
                <key>sourceSize</key>
                <string>{227,480}</string>
            </dict>
            <key>s_slhyxmSlsaEF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{227,466}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{227,466}}</string>
                <key>sourceSize</key>
                <string>{227,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_slhyx.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29c7d85fd6d27f855a346d1ccdf16e06$</string>
            <key>textureFileName</key>
            <string>s_slhyx.png</string>
        </dict>
    </dict>
</plist>
