<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_syzjmSlsaEF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,266},{173,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,219}}</string>
                <key>sourceSize</key>
                <string>{173,219}</string>
            </dict>
            <key>s_syzjmSlsaEF02a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,266},{173,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,219}}</string>
                <key>sourceSize</key>
                <string>{173,219}</string>
            </dict>
            <key>s_syzjmSlsaEF02a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,491},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_syzjmSlsaEF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,491},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_syzjmSlsaEF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{254,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{254,256}</string>
            </dict>
            <key>s_syzjmSlsaEF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,266},{173,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,219}}</string>
                <key>sourceSize</key>
                <string>{173,219}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_syzj.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94c65071896bcae7f3a88f5bc872d07b$</string>
            <key>textureFileName</key>
            <string>s_syzj.png</string>
        </dict>
    </dict>
</plist>
