<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_syhsmSlsaEF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{244,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,213}}</string>
                <key>sourceSize</key>
                <string>{244,213}</string>
            </dict>
            <key>s_syhsmSlsaEF02a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{244,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,213}}</string>
                <key>sourceSize</key>
                <string>{244,213}</string>
            </dict>
            <key>s_syhsmSlsaEF02a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,223},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_syhsmSlsaEF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,223},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_syhsmSlsaEF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,223},{179,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,209}}</string>
                <key>sourceSize</key>
                <string>{179,209}</string>
            </dict>
            <key>s_syhsmSlsaEF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{244,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,213}}</string>
                <key>sourceSize</key>
                <string>{244,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_syhs.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdd4b7471bc568aaa3b02d0ebd455718$</string>
            <key>textureFileName</key>
            <string>s_syhs.png</string>
        </dict>
    </dict>
</plist>
