<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_wzqmSlsaEF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,500},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_wzqmSlsaEF02a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,500},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_wzqmSlsaEF02a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,500},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_wzqmSlsaEF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,500},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>s_wzqmSlsaEF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,252},{143,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,242}}</string>
                <key>sourceSize</key>
                <string>{143,242}</string>
            </dict>
            <key>s_wzqmSlsaEF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{143,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,242}}</string>
                <key>sourceSize</key>
                <string>{143,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_wzq.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b87c99b82b539b01c024d15363fe07fb$</string>
            <key>textureFileName</key>
            <string>s_wzq.png</string>
        </dict>
    </dict>
</plist>
