<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_YaojimSsaEFA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,4},{58,122}}</string>
                <key>offset</key>
                <string>{-7,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{58,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_YaojimSsaEFA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,4},{74,192}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{74,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_YaojimSsaEFA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{140,256}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{140,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_YaojimSsaEFA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,4},{140,250}}</string>
                <key>offset</key>
                <string>{26,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,6},{140,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_YaojimSsaEFA05.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,260},{140,234}}</string>
                <key>offset</key>
                <string>{26,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,22},{140,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_YaojimSsaEFA06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,266},{140,234}}</string>
                <key>offset</key>
                <string>{26,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,22},{140,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>s_YaojimSsaEFA07.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,4},{28,104}}</string>
                <key>offset</key>
                <string>{2,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,152},{28,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_Yaoji.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9774937089398dc47974a5ed32da0cc$</string>
            <key>textureFileName</key>
            <string>s_Yaoji.png</string>
        </dict>
    </dict>
</plist>
